rqt-robot-dashboard==0.5.8
roslib==1.15.10
message-filters==1.17.4
rqt-graph==0.4.16
topic-tools==1.17.4
rqt-web==0.4.11
smclib==1.8.7
rospy==1.17.4
rqt-nav-view==0.5.8
actionlib==1.14.3
roslint==0.12.0
camera-calibration==1.17.0
rqt-shell==0.4.13
python-qt-binding==0.4.6
laser-geometry==1.6.8
bondpy==1.8.7
turtlebot3_teleop==1.2.5
rqt-srv==0.4.11
tf2-geometry-msgs==0.7.10
rqt-image-view==0.4.19
rqt-bag==0.5.3
tf2-ros==0.7.10
rostopic==1.17.4
cv-bridge==1.16.2
resource-retriever==1.12.10
controller-manager==0.20.0
roscreate==1.15.10
xacro==1.14.20
smach-ros==2.5.3
gazebo_ros==2.9.3
roswtf==1.17.4
turtlebot3_autorace_camera==1.1.1
qt-gui-cpp==0.4.5
rqt-action==0.4.11
tf2-kdl==0.7.10
tf-conversions==1.13.4
rqt-pose-view==0.5.13
rqt-topic==0.4.15
tf2-sensor-msgs==0.7.10
rviz==1.14.26
rosmake==1.15.10
turtlebot3_autorace_core==1.1.1
rqt-robot-steering==0.5.14
diagnostic-common-diagnostics==1.12.1
rqt-tf-tree==0.6.5
rosparam==1.17.4
rqt-launch==0.4.10
rosgraph==1.17.4
interactive-markers==1.12.2
gencpp==0.7.2
image-geometry==1.16.2
rqt-logger-level==0.4.13
qt-gui-py-common==0.4.5
qt-gui==0.4.5
rqt-publisher==0.4.12
rosservice==1.17.4
angles==1.9.14
rosbag==1.17.4
tf==1.13.4
roslz4==1.17.4
dynamic-reconfigure==1.7.6
turtlebot3_autorace_detect==1.1.1
qt-dotgraph==0.4.5
rosclean==1.15.10
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rostest==1.17.4
joint-state-publisher==1.15.2
sensor-msgs==1.13.2
rqt-reconfigure==0.5.7
gazebo_plugins==2.9.3
rqt-gui==0.5.5
rqt-py-console==0.4.12
base_local_planner==1.17.3
roslaunch==1.17.4
rqt-bag-plugins==0.5.3
rosnode==1.17.4
rqt-moveit==0.5.13
turtlebot3_autorace_driving==1.1.1
genpy==0.6.18
camera-calibration-parsers==1.12.1
rqt-py-common==0.5.5
diagnostic-updater==1.12.1
rosmaster==1.17.4
diagnostic-analysis==1.12.1
rosunit==1.15.10
rosmsg==1.17.4
gennodejs==2.0.2
rosboost-cfg==1.15.10
catkin==0.8.12
rosserial_python==0.9.2
rqt-gui-py==0.5.5
geneus==3.0.0
tf2-py==0.7.10
genmsg==0.6.1
genlisp==0.4.18
turtlebot3_example==1.2.5
rqt-console==0.4.14
rqt-msg==0.4.12
joint-state-publisher-gui==1.15.2
rqt-robot-monitor==0.5.15
rqt-top==0.4.11
rqt-plot==0.4.16
rqt-dep==0.4.14
controller-manager-msgs==0.20.0
smach==2.5.3
rqt-service-caller==0.4.12
tensorboard-data-server==0.7.2
Markdown==3.7
google-auth==2.40.1
gitdb==4.0.12
certifi==2024.8.30
filelock==3.13.1
rsa==4.9.1
pip==24.2
importlib_metadata==8.5.0
packaging==25.0
importlib_resources==6.4.5
google-auth-oauthlib==1.0.0
torchvision==0.19.0
platformdirs==4.3.6
pillow==10.4.0
click==8.1.8
numpy==1.24.3
numpy==1.23.5
torch==2.4.0
ninja==1.11.1.4
contourpy==1.1.1
sentry-sdk==2.48.0
Brotli==1.0.9
mpmath==1.3.0
smmap==5.0.2
cachetools==5.5.2
grpcio==1.70.0
pydantic_core==2.27.2
requests-oauthlib==2.0.0
fsspec==2025.3.0
scipy==1.10.1
triton==3.0.0
eval_type_backport==0.3.1
Jinja2==3.1.4
mkl-random==1.2.4
MarkupSafe==2.1.3
absl-py==2.2.2
setuptools==75.1.0
protobuf==3.20.3
annotated-types==0.7.0
urllib3==2.2.3
PySocks==1.7.1
matplotlib==3.7.5
oauthlib==3.2.2
gmpy2==2.1.2
PyYAML==6.0.2
cycler==0.12.1
Werkzeug==3.0.6
mkl-fft==1.3.8
torchaudio==2.4.0
pyparsing==3.1.4
pyasn1==0.6.1
typing_extensions==4.13.2
typing_extensions==4.11.0
kiwisolver==1.4.7
charset-normalizer==3.3.2
wheel==0.44.0
pydantic==2.10.6
sympy==1.13.3
six==1.17.0
python-dateutil==2.9.0.post0
requests==2.32.3
mkl-service==2.4.0
zipp==3.20.2
tensorboard==2.14.0
idna==3.7
fonttools==4.57.0
imageio==2.35.1
GitPython==3.1.45
networkx==3.1
pyasn1_modules==0.4.2
wandb==0.23.1
isaacgym==1.0rc4
rsl_rl==1.0.2
legged_gym==1.0.0
tomli==2.0.1
jaraco.collections==5.1.0
jaraco.functools==4.0.1
importlib_resources==6.4.0
importlib_metadata==8.0.0
backports.tarfile==1.2.0
wheel==0.43.0
inflect==7.3.1
jaraco.text==3.12.1
packaging==24.1
more-itertools==10.3.0
typing_extensions==4.12.2
autocommand==2.2.2
jaraco.context==5.3.0
typeguard==4.3.0
platformdirs==4.2.2
zipp==3.19.2
